.slide img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.slide.none{
    display: none;
    position: relative;
}

.slide.none.active{
    display: block;
}

.container-sm{
    position: relative;
}

.arrow{
    position: absolute;
    font-size: 50px;
    color: black;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.left-arrow{
    left: 20px
}

.arrow.right-arrow{
    right: 20px
}

.text{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    text-align: left;
    border-radius: 0 50% 50% 0;
    padding: 20px;
}

.text > p{
    font-size: 14px;
}